/*

!.gitignore
!.github/
!.gitmodules

# NeoVim
!nvim/

# WezTerm
!wezterm/

# Nix
!nix/

# Fish
!fish/
fish/config-local.fish
fish/fish_variables

# JetBrains vim plugin
!ideavimrc

# Images
!images

!.editorconfig

.DS_Store
