let mapleader="\"
set nu
set relativenumber
set NERDTree
set easymotion

if has('ide')
    map <Tab>h <Action>(PreviousTab)
    map <Tab>l <Action>(NextTab)
    map <leader>b <Action>(ToggleLineBreakpoint)
    map <leader>l <Action>(SelectNextTab)
    map gh <Action>(QuickJavaDoc)
    map gp <Action>(ShowQuickDocumentation)
    map ;g <Action>(FindInPath)
    map ;f <Action>(GotoFile)
    nnoremap M :NERDTreeToggle<cr>
endif
